{# layouts/_base.html #}
{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% vite_hmr_client %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
        
        <meta name="theme-color" content="#F8FAFC" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#0F172A" media="(prefers-color-scheme: dark)">

        <!-- Favicon for Light Mode -->
        <link rel="icon" type="image/png" href="{% static 'images/logo/light-favicon.png' %}" media="(prefers-color-scheme: light)">
        <link rel="apple-touch-icon" href="{% static 'images/logo/light-favicon.png' %}" media="(prefers-color-scheme: light)">

        <!-- Favicon for Dark Mode -->
        <link rel="icon" type="image/png" href="{% static 'images/logo/dark-favicon.png' %}" media="(prefers-color-scheme: dark)">
        <link rel="apple-touch-icon" href="{% static 'images/logo/dark-favicon.png' %}" media="(prefers-color-scheme: dark)">

        <meta name="msapplication-TileColor" content="#0A0A0A">
        <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <meta name="theme-color" content="##F8FAFC">

        <!-- SEO META -->

        <!-- Open Graph / Facebook -->

        <!-- Prevents Flash of Unstyled Content (FOUC) -->
        <script>
            (function () {
                try {
                    var theme = localStorage.getItem('theme');
                    if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                        document.documentElement.classList.add('dark');
                    } else {
                        document.documentElement.classList.remove('dark');
                    }
                } catch (e) {}
            })();
        </script>

        <title>{% block title %}SalesIQ | Know your sales. Grow your business.{% endblock %}</title>
        
        {% vite_asset 'src/entries/app.js' %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="antialiased pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-bottom)] pl-[env(safe-area-inset-left)] pr-[env(safe-area-inset-right)]">
        {% block body %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>