annotated-types==0.8.0
anyio==4.14.2
asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
deprecated==1.3.1
django==6.1
django-anymail==15.1
django-extensions==4.1
django-vite==3.1.0
dnspython==2.8.0
email-validator==2.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
mysqlclient==2.2.8
nanoid==2.0.0
pydantic==2.13.4
pydantic-core==2.46.4
pymysql==1.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.34.2
six==1.17.0
sqlparse==0.6.0
standardwebhooks==1.1.0
svix==2.1.0
typing-extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.3
urllib3==2.7.0
uuid6==2025.0.1
wrapt==2.3.0
